<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">  
  <link rel="stylesheet" href="index.css">
  <link rel="icon" type="image/x-icon" href="assets/images/favicon.png">
  <title>Confucian Talent Festival - Scoring Board</title>
</head>
<body>
  <div id="app">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="text-center">Confucian Talent Festival</h1>
          <p class="text-center font-italic">Supported by Confucius.ID</p>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-lg-8">
          <div class="row">
            <div class="col-2">
              <div class="nav flex-column nav-pills" id="v-pills-tab" 
                role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-new-tab" data-toggle="pill" 
                  href="#v-pills-new" role="tab" aria-controls="v-pills-new" 
                  aria-selected="false">
                  Baru
                </a>
                <a class="nav-link" v-for="(battle, index) in battles"
                  v-bind:id="'v-pills-battle-' + battle.id + '-tab'" data-toggle="pill" 
                  v-bind:href="'#v-pills-battle-' + battle.id" role="tab" 
                  v-bind:aria-controls="'v-pills-battle-' + battle.id" 
                  aria-selected="true">
                  #{{ (index+1) }}
                </a>
              </div>
            </div>
            <div class="col-10">
              <div class="tab-content">
                <div class="tab-pane fade show active" id="v-pills-new" 
                  role="tabpanel" aria-labelledby="v-pills-new-tab">
                  <div class="card">
                    <div class="card-body">
                      <h3>Pertandingan Baru</h3>
                      <hr>
                      <div>
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" v-for="(battle, index) in battles"
                  v-bind:id="'v-pills-battle-' + battle.id" 
                  role="tabpanel" v-bind:aria-labelledby="'v-pills-battle-' + battle.id + '-tab'">
                  <div class="card">
                    <div class="card-body">
                      <h3>Pertandingan {{ (index+1) }} ({{ battle.name }})</h3>
                      <hr>
                      <div class="row">
                        <div class="col-lg-4" v-for="(team, index) in [1, 2, 3]">
                          <div class="card">
                            <div class="card-body">
                              <h4 class="text-primary">Nama Tim</h4>
                              <h1>XXXX</h1>
                              <form>
                                <!-- <label for="score">Skor</label> -->
                                <div class="input-group">
                                  <input type="number" class="form-control" id="score" 
                                    aria-describedby="score" 
                                    placeholder="Skor" value="100" step="100">
                                  <div class="input-group-append">
                                    <button type="button" class="btn btn-primary">+</button>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modalAddTeam">
            Tambah Tim
          </button>
          <hr>
          <div class="row">
            <div class="col-6">
              <h5 class="text-center">Kategori A</h5>
              <div class="list-group mt-1" v-if="teams.length > 0">
                <div class="list-group-item list-group-item-action text-white mb-1" 
                  v-bind:class="{ 'bg-success': (index < 7), 'bg-danger': (index >= 7) }" v-for="(team, index) in teams">
                  <div class="d-flex w-100 justify-content-between">
                    <span class="font-bold">{{ team.name }}</span>
                    <strong>{{ team.total_scores }}</strong>
                  </div>
                </div>
              </div>
              <div v-else>
                <div class="alert alert-warning" role="alert">
                  Belum ada tim, silahkan tambahkan tim terlebih dahulu
                </div>
              </div>
            </div>
            <div class="col-6">
              <h5 class="text-center">Kategori B</h5>
              <div class="list-group mt-1" v-if="teams.length > 0">
                <div class="list-group-item list-group-item-action text-white mb-1" 
                  v-bind:class="{ 'bg-success': (index < 7), 'bg-danger': (index >= 7) }" v-for="(team, index) in teams">
                  <div class="d-flex w-100 justify-content-between">
                    <span class="font-bold">{{ team.name }}</span>
                    <strong>{{ team.total_scores }}</strong>
                  </div>
                </div>
              </div>
              <div v-else>
                <div class="alert alert-warning" role="alert">
                  Belum ada tim, silahkan tambahkan tim terlebih dahulu
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modalAddTeam" tabindex="-1" role="dialog" aria-labelledby="modalAddTeamLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Tim Baru</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Form Tim Baru
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kembali</button>
            <button type="button" class="btn btn-primary">Simpan</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="assets/jquery/jquery.min.js" type="text/javascript"></script>
  <script src="assets/vuejs/vue.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="assets/jsstore/dist/jsstore.min.js"></script>
  <script src="assets/jsstore/dist/jsstore.worker.min.js"></script>
  <!-- <script src="assets/chartjs/chart.min.js" type="text/javascript"></script>   -->

  <script src="index.js" type="text/javascript"></script>
  <!-- <script type="text/javascript">
    (function() {
      'use strict';      
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('worker.js')
          .then(registration => {
            console.log('Service Worker is registered', registration);
          })
          .catch(err => {
            console.error('Registration failed:', err);
          });
        });
      }
      if (!('indexedDB' in window)) {
        alert('Aplikasi tidak didukung browser, gunakan browser lain');
        console.log('This browser doesn\'t support IndexedDB');
        // return;
      }
    })();
  </script> -->
</body>
</html>